[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
drf-yasg2 = "*"
taxii2-client = "*"
Jinja2= "*"
stix2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
