[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

#[[source]]
#url = "https://localhost.lan/repository"
#name = "kypo"
#verify_ssl = true

[packages]
#csirtmu-oidc-client = { index = "kypo", version = ">=0.2.1" }
#csirtmu-uag-auth = { index = "kypo", version = "==0.1.10" }
django = "*"
djangorestframework = "*"
taxii2-client = "*"
Jinja2= "*"
stix2 = "*"
yamlize = ">=0.6"

[dev-packages]
drf-yasg2 = "*"
# tox
tox = "~=3.20.0"
tox-pipenv = "~=1.10.1"
# pytest
pytest = "*"
pytest-mock = "*"
pytest-django = "*"

[requires]
python_version = "3.8"
