[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
taxii2-client = "*"
Jinja2= "*"
stix2 = "*"
yamlize = ">=0.6"
drf-yasg2 = "*"
django-cors-headers = "*"
structlog = "*"

[dev-packages]
# tox
tox = "*"
# pytest
pytest = "*"
pytest-mock = "*"
pytest-django = "*"

[requires]
python_version = "3.8"
