<!DOCTYPE html>
<!-- Based on HTML file of MITRE ATTACK® Matrix for Enterprise https://attack.mitre.org/matrices/enterprise -->

<html lang='en'>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Game comparison</title>
  </head>

  <body>
    <p>Games:
    {% for game_name in game_names %}
      {{game_name}}{% if single_color %}{% if loop.index != game_names|length %},{% endif %}
      {% else %}
      <span class={{ "training-head" ~ loop.index }}>&nbsp;&nbsp;&nbsp;</span>
      {% endif %}
    {% endfor %}
    </p>

    <div id="layouts-content">
      <div class="matrix-type side">
        <div class="matrix-container p-3">
          <div class="scroll-indicator-group">
            <div class="scroll-indicator left">
              <div class="cover"></div>
            </div>
            <div class="overflow-x-auto matrix-scroll-box pb-3">

              <table class="matrix side">
                <thead>
                  <tr>
                  {% for tactic in tactics %}
                    <td class="tactic name">
                      <a data-toggle="tooltip" data-placement="top" title="{{ tactic["external_references"][0]["external_id"] }}">{{ tactic["name"] }}</a>
                    </td>
                  {% endfor %}
                  </tr>
                  <tr>
                  {% for tactic in tactics %}
                    <td class="tactic count">
                      {{ techniques[loop.index0]|length }} techniques
                    </td>
                  {% endfor %}
                  </tr>
                </thead>

                <tbody>
                  <tr>
                  {% for tactic in tactics%}
                    <td class="tactic">
                      <table class="techniques-table">
                        <tr class="technique-row" >
                          <td>
                            <table class="supertechnique">
                              <tr>
                                <td class="technique">
                                {% for technique in techniques[loop.index0] %}
                                  {% if single_color %}
                                    {% if tactic["external_references"][0]["external_id"] + "." + technique["external_references"][0]["external_id"] in technique_set %}
                                  <div class="technique-cell cell-selected" >
                                    {% else %}
                                  <div class="technique-cell" >
                                    {% endif %}
                                    <a data-toggle="tooltip" data-placement="top" title="{{ technique["external_references"][0]["external_id"] }}">{{ technique["name"] }}</a>
                                  </div>
                                  {% else %}
                                  <div class="technique-cell " >
                                    <a data-toggle="tooltip" data-placement="top" title="{{ technique["external_references"][0]["external_id"] }}">{{ technique["name"] }}</a>
                                    {% for training in technique_dict[tactic["external_references"][0]["external_id"]][technique["external_references"][0]["external_id"]] %}
                                    <div class={{ "training-dot" ~ training }}>&nbsp;</div>
                                    {% endfor %}
                                  </div>
                                  {% endif %}
                                {% endfor %}
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  {% endfor %}
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
